{% extends "base_web.html" %}
{% load i18n static %}

{% block title %}
    QR Inventory | Reset Password
{% endblock %}


{% block customcss %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">

<style>
    .body {
    padding-top: 0px;
    }

    #content-main {
        max-width: 400px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }


</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email }}
        </div>
        <input type="submit" value="{% trans 'Reset my password' %}">
    </fieldset>
    </form>
</div>
{% endblock %}