{% extends "base_web.html" %}

{% block title %}
    ShipShop | All Products
{% endblock %}

{% block customcss %}
{% load staticfiles %}

<style media="screen">
  .all-product{
    text-align: center;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
</style>
{% endblock %}


{% block content %}
    <section class="py-5">
        <div class="container">
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}

            <div class="row">
                {% for product in products %}
                <div class="col-md-4 col-sm-6" style="margin-top: 10px">
                    <div class="card">
                        <img class="" style="max-width: 100%; height: 200px;""  src="{{ product.image }}" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }} </h5>
                            <h6>Available: <span class="badge badge-success">{{ product.available_quantity }}</span></h6>
                            <hr>
                            <h6>Price: {{ product.price }} BDT. </h6>
                            <hr>
                            <a href="product/show/{{product.id}}" class="btn btn-primary btn-sm">Details</a>
                            {% if product.id not in cart %}
                              <a href="{% url 'add_to_cart' product.id %}" class="btn btn-info btn-sm"> <i class="far fa-plus-square"></i> Add to Cart</a>
                            {% else %}
                              <a href="{% url 'remove_from_cart' product.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove from Cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
             </div>
          </div>
    </section>

    {% block customjs %}
    {% endblock %}

{% endblock %}
