{% extends "base_web.html" %}

{% block title %}
    ShipShop | Add A Product
{% endblock %}

{% block customcss %}
{% load staticfiles %}
<style>
        .body {
        padding-top: 0px;
        }

        #content-main {
            max-width: 550px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
            margin-bottom: 200px;
        }

        #login-form input[type="text"],{
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            margin-left: 10px;
        }

        #login-form input[type="submit"] {
            color: white;
        }

    </style>
{% endblock %}

{% load i18n static %}

{% block content %}
<div id="content-main">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.errors and not form.non_field_errors %}
    <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
            {% trans "Please correct the errors below." %}
        {% endif %}
    </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <h2>Add A Product</h2>
    <hr>


    <form action="{% url 'add_product_request' %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
        <fieldset>
        {% csrf_token %}
        <div class="form-group ">
          <div class="row">
            <label class="col-sm-2 control-label ">Owner:</label>
            <div class="col-sm-10"><input name="owner" class="form-control" type="text" value={{request.user}} disabled></div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">
            <label class="col-sm-2 control-label ">Name:</label>
            <div class="col-sm-10"><input name="name" class="form-control" type="text" value=""></div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">
            <label class="col-sm-2 control-label ">Description: </label>
            <div class="col-sm-10"><textarea name="description" class="form-control"></textarea></div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">
            <label class="col-sm-2 control-label ">Available quantity: </label>
            <div class="col-sm-10"><input name="available_quantity" class="form-control" type="number" value=""></div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">
            <label class="col-sm-2 control-label ">Price: </label>
            <div class="col-sm-10"><input name="price" class="form-control" type="number" value=""></div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">
            <label class="col-sm-2 control-label ">  Image:</label>
            <div class="col-sm-10"><input name="image" type="file" value=""></div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label "> Category:</label>
            <div class="col-sm-10">
                <select class="form-control" name="category_id">
                  {% for category in categories %}
                    <option value={{category}}>{{ category }}</option>
                  {% endfor %}
                </select>
            </div>
          </div>

      </div>

      <div class="form-actions" style="text-align: center">
        <button class="btn btn-primary js-tooltip" title="" data-original-title="Make a POST request on the Product List resource">Add</button>
      </div>
      </fieldset>
      </form>

</div>

{%  endblock %}
