{% extends "base_web.html" %}

{% block title %}
    Ship Shop | You are just one click away!..
{% endblock %}

{% block customcss %}
{% load staticfiles %}

<style media="screen">
  .show_card{
  }
</style>
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">

          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}

          <div class="show_card">
                  <div class="card" style="width: 25rem;">
                      <img class="card-img-top" src="{{ product.image }}" alt="Product Image">
                      <div class="card-body">
                          <h5 class="card-title">{{ product.name }} </h5> <br>
                          Price: {{ product.price }}<br>
                          Available: {{ product.available_quantity }}<br>
                          Description: {{ product.description }}<br>
                          Category: {{ product.category }} <br>
                          <hr>
                          {% if product.id not in cart %}
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-info btn-sm"> <i class="far fa-plus-square"></i> Add to Cart</a>
                          {% else %}
                            <a href="{% url 'remove_from_cart' product.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove from Cart</a>
                          {% endif %}
                      </div>
                    </div>
             </div>
         </div>
    </section>
{% endblock %}
