{% extends "base_web.html" %}

{% block title %}
    ShipShop | Buyer's dashboard
{% endblock %}

{% block customcss %}
{% load staticfiles %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/custom/index.css' %}"> -->
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">

          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
         </div>
    </section>
{% endblock %}
