{% extends "base_web.html" %}

{% block title %}
    ShipShop | Seller's dashboard
{% endblock %}

{% block customcss %}
{% load staticfiles %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">

          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}

            <h2 class="font-weight-light">Recent Products</h2>
            <div class="row">
                {% for product in products %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ product.image }}" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{ product.name }} |
                            <span class="badge badge-pill badge-success"> {{ product.price }} </span>
                            <span class="badge badge-pill badge-success"> {{ product.available_quantity }} </span>
                            <hr>
                            <a href="product/show/{{product.id}}" class="btn btn-primary">Details</a>
                            <a href="#" class="btn btn-secondary">Add to Cart</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
             </div>





            {% for product in products %}
              <img href=""
              {{ product.name }}
              {{ product.price }}
              {{ product.available_quantity }}
              <br>
            {% endfor %}
            </div>
    </section>
{% endblock %}
