{% extends "base_web.html" %}

{% block title %}
    ShipShop | About Us!
{% endblock %}

{% block customcss %}
{% load staticfiles %}

{% endblock %}


{% block content %}
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">About!</h2>
            <p>This website is basically a middleware for buyers and sellers. Sellers can post ads of their products and it's
            completely free of cost. Buyers can buy products according to their preferences. </p>
        </div>
    </section>
{% endblock %}
