{% extends "base_web.html" %}

{% block title %}
    Contact
{% endblock %}

{% block customcss %}
{% load staticfiles %}

{% endblock %}

{% block content %}   
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
        </div>
    </section>
{% endblock %}