{% extends "base_web.html" %}

{% block title %}
  ShipShop | Contact
{% endblock %}

{% block customcss %}
{% load staticfiles %}

{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Contact</h2>
            <p><small>This Website is managed and developed by <a href="http://muizzer07.pythonanywhere.com" target=”_blank”>Muiz Ahmed Khan</a>. Source code is available on
                <a class="githublink" target=”_blank” href="https://github.com/MuizZer07/ship-shop"> GitHub.</a>
                Feel free to give any feedback via email [<a href="mailto:muizxzer07@gmail.com" target="_top">muizxzer07@gmail.com</a>] or contact on social media.</small>
            <hr>

            <a data-toggle="tooltip" title="Facebook" target=”_blank” href="https://www.facebook.com/muiz07"><i class="fab fa-facebook-square"></i></a>
            <a data-toggle="tooltip" title="Twitter" target=”_blank” href="https://twitter.com/MuizZer07"><i class="fab fa-twitter"></i></a>
            <a data-toggle="tooltip" title="linkedin" target=”_blank” href="https://www.linkedin.com/in/muiz-ahmed-khan/"><i
                    class="fab fa-linkedin"></i></a>
            <a data-toggle="tooltip" title="github" target=”_blank” href="https://github.com/MuizZer07"><i class="fab fa-github-square"></i></a>
            <a data-toggle="tooltip" title="instagram" target=”_blank” href="https://www.instagram.com/muizzer07/"><i class="fab fa-instagram"></i></a>
            <br>
            <small>Muiz Ahmed Khan &copy; {%now "Y"%}</small>  </div>
    </section>
{% endblock %}
