{% extends "base_web.html" %}

{% block title %}
    Ship Shop | You are just one click away!..
{% endblock %}

{% block customcss %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom/index.css' %}">
{% endblock %}

{% block header %}
<header class="masthead">
        <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                    <h1 class="font-weight-normal">Buy and sell online</h1>
                    <p class="lead font-weight-normal">You are just one click away! </p>
                 </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Page Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
        </div>
    </section>
{% endblock %}
